h1  {
	color: pink;
	text-align: center;
}

h3  {
        text align: center;
}


body  {
	background-color:#56CEF4
}

div {
	
	
	display:block;
	margin: 20px auto;
	padding: 20px;
	border-radius: 35px;
	backround-color: p